<%- include('../layout/adminHeader.ejs') %>

  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Add Category</h5>
          </div>
          <div class="card-body">
            <form action="/admin/addCategory" method="POST" id="addCategoryForm">
             
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label for="name">Category Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                    <div id="successMessage" style="display: none; color: green;"></div>
                    <div id="errorMessage" style="display: none; color: red;"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" rows="4" cols="80" class="form-control" id="description"
                      required></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <button type="submit" class="btn btn-fill-out btn-block hover-up btn-success">Add Category</button>
                    <!-- <button type="submit" class="btn btn-fill-out btn-block hover-up"></button> -->
                    <a href="/admin/category" style="color: red;"
                        class="viewCate">Cancel</a>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>





  <style>
    .card {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .viewCate {
      text-decoration: none;
      color: beige;
    }
  </style>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Retrieve URL parameters
    const urlParams = new URLSearchParams(window.location.search);
    const successMessage = urlParams.get('success');
    const errorMessage = urlParams.get('error');

    // Get references to message elements
    const successDiv = document.getElementById('successMessage');
    const errorDiv = document.getElementById('errorMessage');

    // Display success message if present
    if (successMessage) {
      successDiv.textContent = successMessage;
      successDiv.style.display = 'block';
    }

    // Display error message if present
    if (errorMessage) {
      errorDiv.textContent = errorMessage;
      errorDiv.style.display = 'block';
    }
  });
</script>
</script>




  </body>
  <%- include('../layout/adminFooter.ejs') %>
  </html>






  