<%- include('../layout/adminHeader.ejs') %>

  <div class="content">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Add Product</h5>
        </div>
        <div class="card-body">
          <form action="/admin/addProducts" method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div>
                  <label for="images">Choose images</label>
                  <div id="imagePreview" class="imagePreview">
                    <!-- image preview -->
                  </div>
                  <input type="file" name="image" id="imageInput" multiple>
                </div>
              </div>
            </div>



            <!-- Product name and Category -->
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label for="productName">Product Name</label>
                  <input type="text" class="form-control" id="productName" name="productName" required>
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label for="category">Choose Category </label>
                  <!-- <input type="text"  class="form-control" id="name" name="name" required> -->
                  <select class="form-control" name="category" id="category">
                    <% categories.forEach(category=>{%>
                      <option value="<%= category._id %>">
                        <%= category.name%>
                      </option>

                      <%} )%>
                  </select>

                </div>
              </div>

            </div>
            <!-- Product description -->
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea name="description" rows="4" cols="80" class="form-control" id="description"
                    required></textarea>
                </div>
              </div>
            </div>

            <!-- totalQuantity -->
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="totalQuantity">Total Quantity </label>
                  <input type="number" class="form-control"
                    placeholder="how much quantity (in kg) is there in the ware house? " id="totalQuantity"
                    name="totalQuantity" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="pricePer100g">Price per 100g</label>
                  <input type="number" class="form-control" placeholder="Price per grams" id="pricePer100g"
                    onchange="priceminimum()" name="pricePer100g" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="totalPrice">Total Price</label>
                  <input type="number" class="form-control" placeholder="Total price" id="totalPrice" name="totalPrice"
                    readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="offerPercentage">Offer Percentage (%)</label>
                  <input type="number" class="form-control" name="offerPercentage" value="0" min="0" max="100"
                    id="offerPercentage">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="offerPrice">After Offer</label>
                  <input type="number" class="form-control" name="offerPrice" value="0" min="0" max="100"
                    id="offerPrice">
                </div>
              </div>
            </div>
          

            <!-- Weight options -->
            <div id="weightOptionsContainer"></div>

            <!-- Button to add more weight options dynamically -->
            <button type="button" class="btn btn-primary" id="addWeightOption" name="weightOptions1">Add Weight Option</button>


            <!-- Weight options
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="weight">Weight avalable for the consumer(in grams)</label>
                  <input type="number" class="form-control" name="weight" required>
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="weightPrice">Price Corresponding to the Weight (₹)</label>
                  <input type="text" class="form-control" name="weightPrice" id="weightPrice" readonly>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="offerPercentage">Offer Percentage (%)</label>
                  <input type="number" class="form-control" name="offerPercentage" value="0" min="0" max="100"
                    id="offerPercentage">
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="offerPrice">After offer (₹)</label>
                  <input type="text" class="form-control" name="offerPrice" id="offerPrice" readonly>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary" id="addWeightOption">Add Weight Option</button>

            <div id="weightOptionsContainer"></div> -->


            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button type="submit" class="btn btn-fill-out btn-block hover-up btn-success">Add
                    Product</button>
                  <a href="/admin/viewProducts">Cancel</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  </div>

  <script>
    document.getElementById('imageInput').addEventListener('change', function (event) {
      var files = event.target.files;
      var imagePreview = document.getElementById('imagePreview');

      for (var i = 0; i < files.length; i++) {
        var file = files[i];
        var reader = new FileReader();

        reader.onload = function (e) {
          var img = document.createElement('img');
          img.src = e.target.result;
          img.width = 100; // Adjust as needed
          img.height = 100; // Adjust as needed
          img.style.marginBottom = '5px'; // Adjust as needed

          var container = document.createElement('div');
          container.classList.add('me-3', 'mb-3');
          container.appendChild(img);

          // Append each image to the imagePreview container
          imagePreview.appendChild(container);
        };

        reader.readAsDataURL(file);
      }
    });

     function priceminimum() {
        const price = parseFloat(document.getElementById('price').value);
        if (price < 0) {
            alert("Price should be greater than 0");
            document.getElementById('pricePer100g').value = 0;
        }
    }
    function minimumquantity() {
        const quantity = parseFloat(document.getElementById('totalQuantity').value);
        if (quantity < 0) {
            alert("Quantity should greater than 0");
            document.getElementById('totalQuantity').value = 0;
        }
    }

    

    // Function to calculate total price
    function calculateTotalPrice() {
      const totalQuantityKg = parseFloat(document.getElementById('totalQuantity').value);
      const pricePer100g = parseFloat(document.getElementById('pricePer100g').value);
      const totalQuantityGrams = totalQuantityKg * 1000;
      const totalPrice = (totalQuantityGrams / 100) * pricePer100g;
      const discountPercentage= parseFloat(document.getElementById('offerPercentage').value);
      const afterDiscount= parseFloat(document.getElementById('offerPrice').value);

      if(discountPercentage>80){
        alert("Discount cannot exceed 80%");
        document.getElementById('offerPercentage').value = 80;
        totalPrice = totalPrice - (totalPrice * 80 / 100);
      }else if(discountPercentage < 0) {
            alert("Discount should be above or equal to 0%");
            document.getElementById('offerPercentage').value = 0;
            totalPrice = totalPrice; // If discount is negative, set totalPrice to price
        }else{
          let totalPrice = totalPrice - (totalPrice * discount / 100);
        document.getElementById('totalPrice').value = totalPrice.toFixed(2);
        }
      
    }

    // Function to calculate price based on weight
    function calculatePriceByWeight(weightInput, priceInput) {
      const weight = parseFloat(weightInput.value);
      const pricePer100g = parseFloat(document.getElementById('pricePer100g').value);
      
      
      const offerPercentage = parseFloat(offerPercentageInput.value);

      // Calculate regular price
      const priceper1g = pricePer100g / 100
      const regularPrice = weight * priceper1g;
      // priceInput.value = regularPrice.toFixed(2);
      document.getElementById('weightPrice').value = regularPrice.toFixed(2);

      // Calculate offer price
      const offerPrice = regularPrice * (1 - (offerPercentage / 100));
      offerPriceInput.value = offerPrice.toFixed(2);

      calculateTotalPrice(); // Update total price
    }

    // Event listener for total quantity and price per 100g inputs
    document.getElementById('totalQuantity').addEventListener('input', calculateTotalPrice);
    document.getElementById('pricePer100g').addEventListener('input', calculateTotalPrice);

    // Event listener to add weight option dynamically
    document.getElementById('addWeightOption').addEventListener('click', function () {
      const container = document.getElementById('weightOptionsContainer');

      // Create HTML elements for weight option
      const row = document.createElement('div');
      row.classList.add('row');
      row.innerHTML = `
        <div class="col-md-4 pr-1">
          <div class="form-group">
            <label for="weight">Weight (in grams)</label>
            <input type="number" class="form-control" id="weight"  name="weight" required onchange="calculatePriceByWeight(this, this.parentNode.nextElementSibling.querySelector('input'), this.parentNode.parentNode.querySelector('.offerPercentage'), this.parentNode.parentNode.querySelector('.offerPrice'))">
          </div>
        </div>
        <div class="col-md-4 pr-1">
          <div class="form-group">
            <label for="weightPrice">Price (₹)</label>
            <input type="number" class="form-control" id ="weightPrice" name="weightPrice" required readonly>
          </div>
        </div>
        
        <div class="col-md-2 pr-1">
          <div class="form-group">
            <label for="priceAfterDiscount">After discount (₹)</label>
            <input type="text" class="form-control offerPrice" name="priceAfterDiscount" readonly>
          </div>
        </div>
      `;

      // Append row to container
      container.appendChild(row);
    });
  </script>


  </body>

  </html>

  <%- include('../layout/adminfooter.ejs') %>