<%- include('../layout/adminHeader.ejs') %>

    <body>
        <div class="container">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h6 class="title" style="text-align: center;">Add Coupon</h6>
                    </div>
                    <div class="card-body">
                        <% if (typeof existingCoupon !=='undefined' && existingCoupon) { %>
                            <div class="alert alert-danger mt-3"
                                style="color: red; background-color: transparent; border: none;">
                                Coupon code already exists. Please choose a different code.
                                <a href="/admin/addcoupon">Add</a>
                            </div>
                            <% } %>

                                <div id="success" style="display: none;"></div>
                                <div id="error" style="display: none;"></div>

                                <form id="my-form" onsubmit="return validateForm()" method="POST"
                                    action="/admin/addcoupon" class="container">
                                    <div class="row">
                                        <div class="col-md-8 pr-1">
                                            <div class="form-group">
                                                <label for="coupon-code">Coupon Code</label>
                                                <input type="text" name="code" class="form-control" id="coupon-code"
                                                    placeholder="Enter coupon code" oninput="validateCouponCode(this)">
                                                <small id="code-validation-message" style="color: red;"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 pr-1">
                                            <div class="form-group">
                                                <label for="discount-type">Select discount Type</label>
                                                <select name="discountType" id="discount-type"
                                                    style="background-color:rgba(0, 252, 206, 0.425);"
                                                    onchange="updateDiscountFields()">
                                                    <option style="background-color:rgba(0, 252, 206, 0.425);"
                                                        value="fixed">Fixed</option>
                                                    <option style="background-color:rgba(0, 252, 206, 0.425);"
                                                        value="percentage">Percentage Type</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 pr-1">
                                            <div class="form-group">
                                                <label for="discount-amount">Discount</label>
                                                <input type="number" name="discountAmount" class="form-control"
                                                    id="discount-amount" placeholder='Enter discount amount' min="0"
                                                    oninput="validateDiscountAmount(this)">
                                                <small id="discountAmountError" style="color: red;"></small>
                                                <div id="negativeAmountWarning" class="alert alert-warning text-danger"
                                                    role="alert" style="margin-top: 5px; display: none;">
                                                    Please fill with a positive number below 99
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 pr-1">
                                            <div class="form-group" id="maxDsc" style="display: none;">
                                                <label for="max-discount-amount">Max discount amount</label>
                                                <input type="number" name="amount" class="form-control"
                                                    id="max-discount-amount" placeholder="Enter Max discount amount"
                                                    oninput="validateMaxDiscountAmount(this)">
                                                <div id="negativeMaxAmountWarning"
                                                    class="alert alert-warning text-danger" role="alert"
                                                    style="margin-top: 5px; display: none;">
                                                    Please fill with a positive number
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 pr-1">
                                            <div class="form-group">
                                                <label for="min-cart-amount">Min cart amount</label>
                                                <input type="number" name="cartamount" class="form-control"
                                                    id="min-cart-amount" placeholder="Enter Min cart amount"
                                                    oninput="validateMaxCartAmount(this)">
                                                <div id="negativeMaxCartWarning" class="alert alert-warning text-danger"
                                                    role="alert" style="margin-top: 5px; display: none;">
                                                    Please fill with a positive number greater than discount amount and
                                                    max discount amount.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 pr-1">
                                            <div class="form-group">
                                                <label for="expiry-date-input">Expiry date</label>
                                                <input type="date" name="expirydate" class="form-control"
                                                    id="expiry-date-input" placeholder="Enter Expiry date"
                                                    oninput="validateExpiryDate(this)">
                                                <small id="expirydate-validation-message" style="color: red;"></small>
                                                <div id="negativeExpiryDateWarning"
                                                    class="alert alert-warning text-danger" role="alert"
                                                    style="margin-top: 5px; display: none;">
                                                    Please select a future date.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 pr-1">
                                            <div class="form-group">
                                                <label for="max-coupons">Max coupons</label>
                                                <input type="number" name="couponcount" class="form-control"
                                                    id="max-coupons" placeholder="Enter count of coupons"
                                                    oninput="validateMaxCoupon(this)">
                                                <div id="negativeCouponWarning" class="alert alert-warning text-danger"
                                                    role="alert" style="margin-top: 5px; display: none;">
                                                    Please fill with a positive number
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="submit"
                                                    class="btn btn-fill-out btn-block hover-up btn-success">Add
                                                    Coupon</button>
                                                <a href="/admin/coupon" style="color: red;" class="viewCate">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                               
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>

            document.addEventListener('DOMContentLoaded', function () {
                document.getElementById('my-form').addEventListener('submit', function (event) {
                    event.preventDefault();

                    // Set the minimum date for the input field
                    document.getElementById('expiry-date-input').min = getCurrentDate();

                    function getCurrentDate() {
                        var today = new Date();
                        var dd = String(today.getDate()).padStart(2, '0');
                        var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
                        var yyyy = today.getFullYear();
                        return yyyy + '-' + mm + '-' + dd;
                    }


                    if (validateForm()) {
                        const formData = new FormData(this);
                        fetch('/admin/addcoupon', {
                            method: 'POST',
                            body: new URLSearchParams(formData)
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    console.log('Success')
                                    Swal.fire({
                                        title: 'Success!',
                                        text: data.message,
                                        icon: 'success',
                                        confirmButtonText: 'OK'
                                    }).then(() => {
                                window.location.href = '/admin/coupon'; 
                            });
                                } else {
                                    console.log('error inside data')
                                    Swal.fire({
                                        title: 'Error!',
                                        text: data.message,
                                        icon: 'error',
                                        confirmButtonText: 'OK'
                                    });
                                }
                            })
                            .catch(error => {
                                console.error('Error in catch:', error);
                                Swal.fire({
                                    title: 'Error!',
                                    text: 'An unexpected error occurred.',
                                    icon: 'error',
                                    confirmButtonText: 'OK'
                                });
                            });
                    }
                });
            });


            function validateForm() {
                var isValid = true;
                isValid = validateCouponCode(document.getElementById('coupon-code')) && isValid;
                isValid = validateDiscountAmount(document.getElementById('discount-amount')) && isValid;
                isValid = validateMaxDiscountAmount(document.getElementById('max-discount-amount')) && isValid;
                isValid = validateMaxCartAmount(document.getElementById('min-cart-amount')) && isValid;
                isValid = validateExpiryDate(document.getElementById('expiry-date-input')) && isValid;
                isValid = validateMaxCoupon(document.getElementById('max-coupons')) && isValid;
                return isValid;
            }

            function validateCouponCode(input) {
                var code = input.value.trim();
                var codeValidationMessage = document.getElementById('code-validation-message');

                if (code === "") {
                    codeValidationMessage.textContent = 'Coupon code is required.';
                    return false;
                } else if (code.length < 6) {
                    codeValidationMessage.textContent = 'Code length must be a minimum of 6.';
                    return false;
                } else if (!/^\d+$/.test(code)) {
                    codeValidationMessage.textContent = 'Please enter a valid code with only numbers.';
                    return false;
                }

                // Clear the error message if the code is valid
                codeValidationMessage.textContent = '';
                return true;
            }


            function validateDiscountAmount(input) {
                var discountAmountError = document.getElementById('discountAmountError');
                var discountType = document.getElementsByName("discountType")[0].value;
                var discountAmountInput = document.getElementsByName("discountAmount")[0];
                if (input.value <= 0 || input.value >= 99) {
                    discountAmountError.textContent = 'Discount amount should be between 1 and 99.';
                    return false;
                } else {
                    discountAmountError.textContent = '';
                    return true;
                }
            }

            function validateMaxDiscountAmount(input) {
                var value = input.value;
                var negativeMaxAmountWarning = document.getElementById('negativeMaxAmountWarning');
                if (value < 0) {
                    negativeMaxAmountWarning.style.display = 'block';
                    return false;
                } else {
                    negativeMaxAmountWarning.style.display = 'none';
                    return true;
                }
            }

            function validateMaxCartAmount(input) {
                var value = input.value;
                var discountAmount = document.getElementsByName('discountAmount')[0].value;
                var maxDiscountAmount = document.getElementsByName('amount')[0].value;
                var negativeMaxCartWarning = document.getElementById('negativeMaxCartWarning');
                if (value < 0 || value <= Math.max(discountAmount, maxDiscountAmount)) {
                    negativeMaxCartWarning.style.display = 'block';
                    return false;
                } else {
                    negativeMaxCartWarning.style.display = 'none';
                    return true;
                }
            }

            function validateExpiryDate(input) {
                var expirydateValidationMessage = document.getElementById('expirydate-validation-message');
                var today = new Date();
                var selectedDate = new Date(input.value);
                if (selectedDate <= today) {
                    expirydateValidationMessage.textContent = 'Please select a future date.';
                    return false;
                } else {
                    expirydateValidationMessage.textContent = '';
                    return true;
                }
            }

            function validateMaxCoupon(input) {
                var negativeCouponWarning = document.getElementById('negativeCouponWarning');
                if (input.value <= 0) {
                    negativeCouponWarning.style.display = 'block';
                    return false;
                } else {
                    negativeCouponWarning.style.display = 'none';
                    return true;
                }
            }

            function updateDiscountFields() {
                var discountType = document.getElementById('discount-type').value;
                var maxDsc = document.getElementById('maxDsc');
                if (discountType === 'percentage') {
                    maxDsc.style.display = 'block';
                } else {
                    maxDsc.style.display = 'none';
                }
            }
        </script>
    </body>

    <%- include('../layout/adminFooter.ejs') %>