<%- include('../layout/header.ejs') %>


    <main class="main">
            <section class="pt-150 pb-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 m-auto col-md-10" >
                            <div class="row">
                                <div class="col-md-3"  >

                                    <div class="dashboard-menu">
                                        <ul class="nav flex-column " role="tablist">
                                            <li class="nav-item">
                                                <form action="/myProfile" method="GET">
                                                    <button type="submit" 
                                                        style="background-color: #ffffff; color: #000000; border: none;  cursor: pointer; width: 100%;">My
                                                        Profile</button>
                                                </form>
                                              
                                            </li>
                                           
                                            <li class="nav-item">
                                                <form action="/order" method="GET">
                                                    <button type="submit" 
                                                        style="background-color: #ffffff; color: #000000; border: none;  cursor: pointer; width: 100%;">Orders</button>
                                                </form>
                                                
                                            </li>
                                            <li class="nav-item">
                                                <form action="/wallet" method="GET">
                                                    <button type="submit"
                                                        style="background-color: #ffffff; color: #000000; border: none;  cursor: pointer; width: 100%;">Wallet</button>
                                                </form>
                                               
                                            </li>
                                            <li class="nav-item">
                                                <form action="/userProfile" method="GET">
                                                    <button type="submit"
                                                        style="background-color: #ffffff; color: #000000; border: none;  cursor: pointer; width: 100%;">My
                                                        Address</button>
                                                </form>
                                              
                                            </li>
                                            
                                            <li class="nav-item">
                                                <form action="/changePassword" method="GET">
                                                    <button type="submit"
                                                        style="background-color: #01524c; color: #ffffff; border: none;  cursor: pointer; width: 100%;">Change
                                                        Password</button>
                                                </form>
                                                
                                            </li>
                                            <!-- <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i
                                                    class="fi-rs-sign-out mr-10"></i>Logout</a>

                                        </li> -->
                                        </ul>
                                    </div>
                                </div>


                                <div class="col-md-9">
                                    <div class="col-lg-6">
                                        <div class="card mb-3 mb-lg-0">
                                            <div class="card-header">
                                                <h5 class="mb-0" style="text-align: center;">Change password?</h5>
                                            </div>
                                            <div class="card-body">
                                                <form method="post" action="/changePassword">
                                                    <% if(typeof successMessage !='undefined' ){ %>
                                                        <p style="color: green;">
                                                            <%= successMessage %>
                                                        </p>
                                                        <% } %>
                                                            <% if(typeof errorMessage !='undefined' ){ %>
                                                                <p style="color: red;">
                                                                    <%= errorMessage %>
                                                                </p>
                                                                <% } %>

                                                                    <div class="form-group">
                                                                        <input required="" type="password"
                                                                            name="epassword"
                                                                            placeholder="Existing password">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <input required="" id="password" type="password"
                                                                            name="password" placeholder="Password"
                                                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,10}"
                                                                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 max 10">
                                                                        <span id="password-strength"></span>
                                                                    </div>
                                                                    <div class="form-group ">
                                                                        <input required="" type="password"
                                                                            name="confirmpassword"
                                                                            placeholder="Confirm password">
                                                                        <!-- <br><small>Password is not matching</small> -->
                                                                    </div>
                                                                    <button type="submit"
                                                                        class="btn btn-fill-out btn-block hover-up"
                                                                        name="login"><a href=""></a> Reset
                                                                        Password</button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </main>
    </div>
    </section>

    <script>
        var myInput = document.getElementById("password");
        var strengthIndicator = document.getElementById("password-strength");

        myInput.onkeyup = function () {
            var lowerCaseLetters = /[a-z]/g; //validate lowercase
            var upperCaseLetters = /[A-Z]/g; //validate capitls
            var numbers = /[0-9]/g; //validate num
            if (myInput.value.match(lowerCaseLetters) &&
                myInput.value.match(upperCaseLetters) &&
                myInput.value.match(numbers) &&
                myInput.value.length >= 6 &&
                myInput.value.length <= 10) {

                strengthIndicator.textContent = "Strong password";
                strengthIndicator.style.color = "green";

            } else {
                strengthIndicator.textContent = "Weak password";
                strengthIndicator.style.color = "red";
            }
        }
    </script>

    </body>

    <%- include('../layout/footer.ejs') %>