<%- include('../layout/header.ejs') %>

<body>
    
    <div class="container col-lg-6">
        <div class="login_wrap widget-taber-content p-5 background-white border-radius-5">
            <div class="padding_eight_all bg-white">
                <div class="heading_s1">
                    <h3 class="mb-30">Login</h3>
                </div>
                <form method="post" action="/login">
                    <% if(typeof successMessage !='undefined' ){ %>
                        <p style="color: green;">
                            <%= successMessage %>
                        </p>
                        <% } %>
                            <% if(typeof errorMessage !='undefined' ){ %>
                                <p style="color: red;">
                                    <%= errorMessage %>
                                </p>
                                <% } %>
                                    <div class="form-group login_page">
                                        <input type="text" required="" name="email" placeholder="Your Email">
                                    </div>
                                    <div class="form-group">
                                        <input required="" type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox"
                                                    id="exampleCheckbox1" value="">
                                                <label class="form-check-label" for="exampleCheckbox1"><span>Remember
                                                        me</span></label>
                                            </div>
                                        </div>
                                        <a class="text-muted" href="/forgotPass">Forgot password?</a>
                                        <a href="/resendOtp">Verify email?</a>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-fill-out btn-block hover-up"
                                            name="login">Log in</button>
                                    </div>
                </form>
               
                <p style="font-size: 16px;">Not yet registered? <a href="/register">click here</a> to register! </p>
                <div class="divider-text-center mt-15 ">
                    <span> or</span>
                </div>
                <ul class="btn-login list_none text-center mb-15">
                    <!-- <li><a href="#" class="btn btn-facebook hover-up mb-lg-0 mb-sm-4">Login With Facebook</a></li> -->
                    <li><a href="/auth/google" class="btn hover-up">Login With Google</a></li>
                </ul>
            </div>
        </div>
    </div>
    
</body>

    <%- include('../layout/footer.ejs') %>