<%- include('../layout/header.ejs') %>

    <body>
        <div class="container col-lg-6 mb-55">
            <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                <div class="padding_eight_all bg-white">
                    <div class="heading_s1">
                        <h3 class="mb-30">Create an Account</h3>
                    </div>
                    <div id="form">
                        <% if(typeof successMessage !='undefined' ){ %>
                            <p style="color: green;">
                                <%= successMessage %>
                            </p>
                            <% } %>
                                <% if(typeof errorMessage !='undefined' ){ %>
                                    <p style="color: red;">
                                        <%= errorMessage %>
                                    </p>
                                    <% } %>
                                        <form method="post" action='/register'>
                                            <div class="form-group ">
                                                <input type="text" required name="name" placeholder="Username">
                                                <!-- <br><small id="name-error" class="error-msg"></small> -->
                                            </div>
                                            <div class="form-group ">
                                                <input type="text" required name="email" placeholder="Email">
                                                <!-- <br><small id="email-error" class="error-msg"></small> -->
                                            </div>


                                            <div class="form-group">
                                                <input required minlength="6" type="password" name="password"
                                                    placeholder="Password">
                                                <!-- <br><small id="password-error" class="error-msg"></small> -->
                                            </div>
                                            <div class="form-group ">
                                                <input required="" type="password" name="confirmpassword"
                                                    placeholder="Confirm password">
                                                <!-- <br><small id="confirmpassword-error" class="error-msg"></small> -->
                                            </div>

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up"
                                                    name="login">Verify &amp; Submit</button>
                                                <!-- <a href="/resendOtp" class="form-group text-right m-2">Resend OTP</a> -->
                                                <a href="/existingEmailVerify" class="form-group text-right m-2">verify
                                                    email?</a>

                                            </div>
                                        </form>
                    </div>
                    
                    <div class="text-muted text-center">Already have an account? <a href="/login">Login in now</a></div>
                </div>


            </div>
        </div>
<style>
    body{
        margin: 0;
        height: auto;
    }
</style>
    </body>

    <%- include('../layout/footer.ejs') %>