<h1>Verify OTP</h1>
    <form action="/veryfyOtp" method="POST">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
        <label for="otp">Enter OTP:</label>
        <input type="text" id="otp" name="otp" required>
        <button type="submit">Verify OTP</button>
    </form>
    <form action="/resendOtp">
        <input type="submit" value="Resend OTP">
    </form>