<header>
    <div class="header-bottom sticky-bar sticky-white-bg">
        <div class="container">

            <div class="header-action-right">
               
                <div class="header-action-2">
                    <div class="header-action-icon-2">
                        <a href="shop-wishlist.html">
                            <img class="svgInject" alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">
                            <span class="pro-count blue"></span>
                        </a>
                    </div>
                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon"  href="/viewCartItems"> <span id="cartCount"></span>
                            <p class="pro-count "><img alt="GoEAsy" src="/assets/imgs/theme/icons/icon-cart.svg">
                                Cart</p>
                        </a>
                        <!-- <a class="mini-cart-icon" href="">
                         <img alt="GoEAsy" src="/assets/imgs/theme/icons/icon-cart.svg"> 
                        <p class="pro-count ">basket</p>
                         <span class="pro-count "></span> 
                    </a>-->
                        <!-- <div class="cart-dropdown-wrap cart-dropdown-hm2">
                            <ul id="cart-items-list">
                              Cart items will be dynamically generated here
                            </ul>
                            <div class="shopping-cart-footer">
                                <div class="shopping-cart-total">
                                    <h4>Total <span id="total-price">$0.00</span></h4>
                                </div>
                                <div class="shopping-cart-button">
                                    <a href="">View cart</a>
                                    <a href="/checkOut">Checkout</a>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
