<footer class="main " style="background-color:  rgba(2, 151, 126, 0.84) ">
    <section class="section-padding footer-mid ">
        <div class="container">
            <div class="row ">
                <div class="col-lg-3 col-md-4"> 
                    <div class="widget-about font-md mb-md-5 mb-lg-0 text-center">
                        <div class="logo logo-width-1 wow fadeIn animated">
                            <a href="/"><img src="assets/imgs/theme/Easy.svg" alt="logo"></a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-4" style="color: rgb(255, 255, 255);"> 
                    <h6 class="mt-20 mb-10 fw-600 text-green wow fadeIn animated"  style="color: rgb(255, 255, 255);">Contact</h6>
                      
                          Ansa Ali <br>
                          chinjuansa@gmail.com
                       
                        <h6 class="mt-20 mb-10 fw-600 text-green wow fadeIn animated" style="color: rgb(255, 255, 255);">Follow Us</h5>
                        <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                            <a href="#" ><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                        </div>
                </div>
                <div class="col-lg-3 col-md-4">  
                    <h6 class="widget-title wow fadeIn animated text-center " style="color: rgb(255, 255, 255);">About</h6>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0 text-center" >
                        <li ><a href="#" style="color: rgb(255, 255, 255);">About Us</a></li>
                        <li><a href="#" style="color: rgb(255, 255, 255);">Our Mission</a></li>
                        <li><a href="#" style="color: rgb(255, 255, 255);">Farmers' Stories</a></li>
                        <li><a href="#" style="color: rgb(255, 255, 255);">Quality Guarantee</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4"> 
                    <h6 class="widget-title wow fadeIn animated text-center" style="color: rgb(255, 255, 255);">Products</h6>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0 text-center">
                        <li><a href="#" style="color: rgb(255, 255, 255);">Fresh Vegetables</a></li>
                        <li><a href="#" style="color: rgb(255, 255, 255);">Organic Fruits</a></li>
                        <li><a href="#" style="color: rgb(255, 255, 255);">Herbs & Spices</a></li>
                        <li><a href="#" style="color: rgb(255, 255, 255);">Seasonal Specials</a></li>
                    </ul>
                </div>
            </div>
           
                <div class="col-12  m-5 d-flex" >
                        <p  style="color: rgb(255, 255, 255); font-size: smaller;" >&copy; 2024, <strong class="text-green">Go Easy Shopping</strong> - Your source for fresh produce </p>
                        <p  style="color: rgb(255, 255, 255);  font-size: smaller;">
                            Designed with ❤️ by <a href="/about" style="color: white;" target="_blank"><strong>Ansa Ali</strong></a>. All rights reserved
                        </p>
                </div>
                
          
            
        </div>
        
    </section>
   
</footer>


</body>
</html>