<footer class="main pt-30" style="background-color: #d2fcf4ad; padding: 30px 0; margin-top: 50px;">
    <section class="section-padding footer-mid p-30">
        <div class="container pt-15 pb-20">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4"> 
                    <div class="widget-about font-md mb-md-5 mb-lg-0 text-center">
                        <div class="logo logo-width-1 wow fadeIn animated">
                            <a href="/home"><img src="assets/imgs/theme/Easy.svg" alt="logo"></a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-4"> 
                    <h5 class="mt-20 mb-10 fw-600 text-green wow fadeIn animated">Contact</h5>
                        <p class="wow fadeIn animated">
                            <strong>Address: </strong>123 Green Street, Veggieville
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Phone: </strong>+01 2345 6789
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Hours: </strong>8:00 - 20:00, Mon - Sat
                        </p>
                        <h5 class="mb-10 mt-30 fw-600 text-green wow fadeIn animated">Follow Us</h5>
                        <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                            <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                        </div>
                </div>
                <div class="col-lg-2 col-md-4"> 
                    <h5 class="widget-title wow fadeIn animated text-center">About</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0 text-center">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Mission</a></li>
                        <li><a href="#">Farmers' Stories</a></li>
                        <li><a href="#">Quality Guarantee</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4"> <!-- Adjusted column width -->
                    <h5 class="widget-title wow fadeIn animated text-center">Products</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0 text-center">
                        <li><a href="#">Fresh Vegetables</a></li>
                        <li><a href="#">Organic Fruits</a></li>
                        <li><a href="#">Herbs & Spices</a></li>
                        <li><a href="#">Seasonal Specials</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container pb-20 wow fadeIn animated">
        <div class="row">
            <div class="col-12 mb-20">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-lg-6">
                <p class="float-md-left font-sm text-muted mb-0">&copy; 2024, <strong class="text-green">Go Easy Shopping</strong> - Your source for fresh produce </p>
            </div>
            <div class="col-lg-6">
                <p class="text-lg-end text-start font-sm text-muted mb-0">
                    Designed with ❤️ by <a href="https://yourwebsite.com" target="_blank">Ansa Ali</a>. All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>


</body>
</html>